body {
    font-family: "Times New Roman";
}

.head {
    margin: 15px 0 0;
}

.no-search {
    margin: 20px;
}

.msg {
    font-weight: bold;
    font-size: 1.3rem;
}

.succeed p {
    color: green;
}

.failed p {
    color: red;
}
