<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">

    <script>
        function search() {
            var createUrl = window.origin + window.location.pathname;
            var url = new URL(createUrl);
            var params = new URLSearchParams(url.search);
            params.set('marketModel', document.getElementById('search').value.toUpperCase());
            url.search = params.toString();
            window.location.href = url;
        }
    </script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h1 class="head">Market - available models</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a th:href="@{/cars}" target="_blank"><button type="button" class="btn btn-light btn-md">Open my car list</button></a>
        </div>
        <div class="col text-center">
            <div th:class="${added} ? 'msg succeed' : 'msg failed'">
                <p th:text="${msg}" th:class="${added} ? 'msg succeed' : 'msg failed'"/>
            </div>
        </div>
        <div class="col">
            <div class="float-right form-inline">
                <input type="text" id="search" class="form-control mr-sm-2" placeholder="Search by model...">
                <input type="button" id="searchBtn" class="btn btn-outline-success my-2 my-sm-0" value="Search" onclick="search()">
                <a th:href="@{/market/{id}(id=${markId})}"><input type="button" class="btn btn-outline-danger my-2 my-sm-0" style="margin-left: 5px;" value="Clear"></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mark</th>
                    <th scope="col">Model</th>
                    <th scope="col">Color options</th>
                    <th scope="col">Options</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="model, iStat : ${marketModels}">
                    <form th:action="@{/market/{id}/add/{modelIdToAdd}(id=${markId},modelIdToAdd=${model.modelID})}" th:object="${car}" method="post">
                        <td th:text="${iStat.index+1}"/>
                        <td>
                            <a th:text="${model.makeName}" />
                        </td>
                        <td>
                            <a th:text="${model.modelName}" />
                        </td>
                        <td>
                            <select class="custom-select" id="inputGroupColor" style="width: 30%;">
                                <option th:each="color : ${T(pl.bykowski.pdt4th.model.Color).values()}" th:field="*{color}"
                                        th:value="${color.name()}" class="dropdown-item"><a th:text="${color}" /></option>
                            </select>
                        </td>
                        <td >
                            <button type="submit" class="btn btn-info">Add</button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col text-left">

        </div>
        <div class="col text-right">
            <div class="">
                <a th:href="@{/market}"><button type="button" class="btn btn-primary btn-md">Back</button></a>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $("#search").on('keyup', function (event) {
        if (event.keyCode === 13) {
            search();
        }
    });
</script>
</body>
</html>
